<% 
 var categories = locals.categories || [];
 var current_category_id = null;
 if(locals.category) {
    current_category_id = category.id;
 }
 for(var i = 0, len = categories.length; i < len; i++) { 
     var category = categories[i];
%>
<div class="category_section">
    <h3><a <% if(current_category_id == category.id) { %>class="selected"<%}%> href="<%- base %>/category/<%- category.id %>"><%= category.name %><span>(<%- category.question_count %>)</span></a></h3>
    <ul>
    <% for(var j = 0, l = category.children.length; j < l; j++) { 
        var child = category.children[j];
    %>
        <li>
            <a <% if(current_category_id == child.id) { %>class="selected"<%}%> href="<%- base %>/category/<%- child.id %>"><%= child.name %><span>(<%- child.question_count %>)</span></a>
        </li>
    <% } %> 
    </ul>
</div>
<% } %>