<div class="online_list">
    <div class="list_header">
        <div class="online_list_title">网友正在问</div>
        <a href="/question" class="more">更多</a>
    </div>
    <div class="list_content">
        <ul>
        <% 
        it.questions = it.questions || [];
        for(var i = 0, len = it.questions.length; i < len; i++) { 
            var question = it.questions[i];
        %>
            <li>
                <p>
                <a title="<%= question.title%>" href="/question/<%- question.id %>"><%=: question.title | fixed_string:30 %></a>
                <span><%- question.answer_count %>问答</span>
                </p>
            </li>
        <% } %>
        </ul>
    </div>
</div>