<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据魔方问答</title>
<link rel="stylesheet" type="text/css" href="<%- it.base %>/css/tooltip.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<%- it.base %>/css/jquery.qeditor.css" media="screen" />
<link rel="stylesheet" href="<%- it.base %>/js/jquery.pagination/pagination.css" />
<link rel="stylesheet" href="<%- it.base %>/cubex/cubex_ask.css" />
<script type="text/javascript">
var SITE_CONFIG = {
    base: '<%- it.base %>'
};
</script>
<script type="text/javascript" src="<%- it.base %>/js/jquery-1.6.min.js"></script>
<script type="text/javascript" src="<%- it.base %>/js/jquery.pagination/jquery.pagination.js"></script>
<script type="text/javascript" src="<%- it.base %>/js/jquery.qeditor.js"></script>
<script type="text/javascript" src="<%- it.base %>/js/tooltip.js"></script>
<script type="text/javascript" src="<%- it.base %>/js/main.js"></script>
</head>

<body>
    <div id='pageloading'>正在加载...</div> 
    <div id="header">
        <div id="head">
            <a href="<%- it.base %>/" title="数据魔方问答"><span class="logo_ask"></span></a>
            <div class="search">
                <form name="search_form" action="<%- it.base %>/question">
                    <div class="search_fields">
                        <% if(it.is_my_question) { %>
                        <input type="hidden" name="my" value="1" />
                        <% } %>
                        <input id="search_question" type="text" name="q" value="<%= it.query || '' %>" />
                        <button class="search_submit">
                        搜索答案
                        </button>
                    </div>
                </form>
            </div>
            <div class="go_ask">
                <div class="go_ask_button">
                    <a href="<%- it.base %>/question/new"><button>我要提问</button></a>
                </div>
                <a  href="" class="go_ask_help">帮助</a>
            </div>
        </div>
    </div>
    <div id="body">
        <div id="main_center_left">
            <%- it.body %>
        </div>
        <div id="main_right">
            <div class="login">
            <% if(it.current_user) { %> 
                <div class="title">用户</div>
                <div class="content">
                    您好，<a href="<%- it.base %>/my/questions" title="数据魔方"><%= it.current_user.name %></a>
                    <br />
                    <a href="<%- it.base %>/category/edit">编辑分类</a>
                    |
                    <a href="<%- it.base %>/question?my=1">我的问题</a>
                </div>
            <% } else { %>
                <div class="title">登录</div>
                <div class="content">
                    <a class="pro_login" href="" title="登录专业版数据魔方"></a>
                    <a class="std_login" href="" title="登录标准版数据魔方"></a>
                </div>
            <% } %>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div id="footer">
        Copyright &copy; 2003-2011, Taobao.com 版权所有
    </div>
</body>
</html>
