<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据魔方问答</title>
<link rel="stylesheet" type="text/css" href="/css/tooltip.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/jquery.qeditor.css" media="screen" />
<link rel="stylesheet" href="/cubex/cubex_ask.css" />
<script type="text/javascript" src="/js/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/js/tooltip.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</head>

<body>
	<div id="header">
    	<div id="head">
        	<a href="/" title="数据魔方问答"><span class="logo_ask"></span></a>
            <div class="search">
            	<form name="search_form" action="/question">
                	<div class="search_fields">
                	    <% if(it.is_my_question) { %>
                        <input type="hidden" name="my" value="1" />
                        <% } %>
                    	<input id="search_question" type="text" name="q" value="<%= it.query || '' %>" />
                        <button class="search_submit">
                    	搜索答案
                    	</button>
                    </div>
                </form>
            </div>
            <div class="go_ask">
            	<div class="go_ask_button">
                	<a href="/question/new"><button>我要提问</button></a>
                </div>
                <a  href="" class="go_ask_help">帮助</a>
            </div>
        </div>
	</div>
	<div id="body">
    	<div id="main_left">
        	<div class="title">问题分类</div>
            <div class="question_num">
            	<span id="resolved">已解决问题数：3</span>
                <span id="noresolved">待解决问题数：150</span>
            </div>
            <div class="question_info"></div>
    	</div>
        <div id="main_center">
        	<%- it.body %>
    	</div>
        <div id="main_right">
        	<div class="login">
        	<% if(it.current_user) { %> 
            	<div class="title">用户</div>
                <div class="content">
                    您好，<a href="/my/questions" title="数据魔方"><%= it.current_user.name %></a>
                    <br />
                    <a href="/category/edit">编辑分类</a>
                    |
                    <a href="/question?my=1">我的问题</a>
                </div>
            <% } else { %>
                <div class="title">登录</div>
                <div class="content">
                    <a class="pro_login" href="" title="登录专业版数据魔方"></a>
                    <a class="std_login" href="" title="登录标准版数据魔方"></a>
                </div>
            <% } %>
            </div>
            <div class="notice">
            	<div class="title">公告</div>
                <a href="" class="more">更多</a>
                <div class="content">
                	<ul>
                    	<li>数据魔方问答上线试运营</li>
                    </ul>
                </div>
            </div>
            <div class="hot_user">
            	<div class="title">总积分榜</div>
                	<a href="" class="more">更多</a>
                <div class="content">
                	<ul>
                    	<li>
                        	<p>
                            	<span class="num">1</span>
                                <span class="user_name">数据魔方专家</span>
                                <span class="hot_num">215</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                            	<span class="num">2</span>
                                <span class="user_name">空无</span>
                                <span class="hot_num">115</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                            	<span class="num">3</span>
                                <span class="user_name">苏千</span>
                                <span class="hot_num">115</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                            	<span class="num">4</span>
                                <span class="user_name">苏千</span>
                                <span class="hot_num">115</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
    	</div>
    </div>
    <div style="clear:both;"></div>
    <div id="footer">
        Copyright &copy; 2003-2011, Taobao.com 版权所有
    </div>
</body>
</html>
