<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= locals.question && question.title ? question.title + ' - ' : '' %>数据魔方问答</title>
<link rel="stylesheet" type="text/css" href="<%- base %>/css/tooltip.css" media="screen" />
<link rel="stylesheet" type="text/css" href="<%- base %>/css/jquery.qeditor.css" media="screen" />
<link rel="stylesheet" href="<%- base %>/cubex/cubex_ask.css" />
<script type="text/javascript">
var SITE_CONFIG = {
    base: '<%- base %>'
};
</script>
<script type="text/javascript" src="<%- base %>/js/jquery-1.6.min.js"></script>
<script type="text/javascript" src="<%- base %>/js/jquery.pagination/jquery.pagination.js"></script>
<script type="text/javascript" src="<%- base %>/js/jquery.qeditor.js"></script>
<script type="text/javascript" src="<%- base %>/js/tooltip.js"></script>
<script type="text/javascript" src="<%- base %>/js/main.js"></script>
</head>

<body>
    <div id='pageloading'>正在加载...</div> 
    <div id="header">
        <div id="head">
            <a href="<%- base %>/" title="数据魔方问答"><span class="logo_ask"></span></a>
            <div class="search">
                <form name="search_form" action="<%- base %>/question">
                    <div class="search_fields">
                        <input id="search_question" type="text" name="q" value="<%- locals.query %>" />
                        <button class="search_submit">
                        搜索答案
                        </button>
                    </div>
                </form>
            </div>
            <div class="go_ask">
                <div class="go_ask_button">
                    <a href="<%- base %>/question/new"><button>我要提问</button></a>
                </div>
                <a  href="#" class="go_ask_help">帮助</a>
            </div>
        </div>
    </div>
    <div id="body">
        <div id="main_left">
            <h2>问题分类</h2>
            <div id="category_nav"></div>
        </div>
        <div id="main_center">
            <%- body %>
        </div>
        <div id="main_right">
            <%- partial('sidebar') %>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div id="footer">
        Copyright &copy; 2003-2011, Taobao.com 版权所有
    </div>
</body>
</html>
