<%
    var action = '/question';
    if(!it.question.isNew) {
        action = '/question/' + it.question.id;
    }
%>
<link rel="stylesheet" href="<%- it.base %>/js/colorbox/colorbox.css" />
<script type="text/javascript" src="<%- it.base %>/js/colorbox/jquery.colorbox.js"></script>
<div class="online_list">
    <div class="list_header">
        <div class="online_list_title">我要提问</div>
    </div>
    <div class="content">
	    <form id="question_form" class="simple_form" method="post" action="<%- it.base %><%- action %>">
		    <input type="hidden" id="csrf" name="csrf" value="<%- it.csrf %>" />
            <p><label for="question_title">一句话描述你的问题</label>
            <input id="question_title" name="title" type="text" reg="[^\s]+" class="long" tip="请将问题说明清楚，让网友更好地为您解答。" value="<%= it.question.title || '' %>" /></p>
            <p>
            <button type="button" href="<%- it.base %>/category/select" title="选择分类" id="btn_select_category">设置分类</button>
            <input type="hidden" id="question_category_id" name="category_id" value="<%- it.question.category_id || '' %>" />
            <span id="question_category_name"><%= it.question.category ? it.question.category.name : '' %></span>
            </p>
            <p><label for="question_content">可选: 更多问题描述</label>
            <textarea id="question_content" name="content" rows="10" class="long" tip="一句话无法表达清楚？都在这里说吧"><%= it.question.content || '' %></textarea></p>
            <p><button type="submit" id="btn_submit_question" class="minibutton blue submit">提交问题</button>
                <% if(!it.question.isNew) { %>
                <button type="button" id="btn_delete_question" class="minibutton red submit">删除问题</button>
                <% } %></p>
		</form>
    </div>
</div>

<script type="text/javascript">

function select_category(id, name) {
	$.colorbox.close();
	$('#question_category_id').val(id);
	$('#question_category_name').html(id ? name : '');
};

$(document).ready(function(){
    $("textarea").qeditor();
    
    var $tips = $('#question_form input[tip], #question_form textarea[tip]').tooltip({onsubmit: true});
    
    $('#btn_delete_question').click(function() {
        if(!window.confirm('真的要删除此问题吗？')) return;
        var url = window.location.pathname.replace('/edit', '/delete');
        $.ajax({
          type: 'POST',
          url: url,
          data: {},
          success: function(result) {
              if(result.success) {
                  window.location = SITE_CONFIG.base + '/question?my=1';
              } else {
                  alert(result.error);
              }
          },
          dataType: 'json'
        });     
    });
    
    $('#btn_select_category').colorbox({opacity: 0.5});
});
</script>