<div class="online_list">
    <h2 class="online_list_title"><a href="<%- it.base %>/question/<%- it.question.id %>"><%= it.question.title %></a></h2>
    <p class="info">离问题结束还有 <%- it.question.close_at.timeleft() %> 
    | 提问者：<%= it.question.author.name %> 
    <% if(it.question.category) { %>
    | 分类：<a href="<%- it.base %>/category/<%- it.question.category.id %>"><%= it.question.category.name %></a>(<%- it.question.category.question_count %>)
    <% } %>
    <% if(it.question.editable) { %>
    | <a href="<%- it.base %>/question/<%- it.question.id %>/edit">编辑</a>
    <% } %>
    <span>浏览次数: <%- it.question.visit_count %></span></p>
    <div class="content"><%- it.question.content %></div>
</div>
<input type="hidden" id="question_id" value="<%- it.question.id %>" />

<% if(it.can_answer) { %>
<div class="online_list">
    <div class="list_header">
        <div class="online_list_title">我来解答</div>
    </div>
    <div class="content">
        <form id="answer_form" class="simple_form">
            <p><textarea id="answer_content" name="content" class="long"></textarea></p>
            <p><button type="button" id="btn_submit_answer" class="minibutton blue submit">提交回答</button></p>
        </form>
    </div>
</div>
<% } %>

<% if(it.answers && it.answers.length > 0) { %>
<div class="online_list">
    <div class="list_header">
        <div class="online_list_title">回答 (共<%- it.answers.length %>条)</div>
    </div>
    <% for(var i = 0, len = it.answers.length; i < len; i++) {
        var answer = it.answers[i];
    %>
    <div class="content answer_content <%- (i+1) == len ? 'answer_content_last' : '' %>">
        <div class="answer_body"><%- answer.content %></div>
        <p>回答者: <%- answer.author.name %> | <%- answer.create_at.format('yyyy-MM-dd hh:mm:ss') %>
        <% if(answer.editable) { %>
        | 
        <button type="button" class="btn_edit_answer" answer_id="<%- answer.id %>">修改回答</button>
        <% } %>
        </p>
    </div>
    <% } %>
</div>
<% } %>
<script type="text/javascript">

$(document).ready(function(){
    $("textarea").qeditor();
    
    $('#btn_submit_answer').click(function() {
    	var $content = $('#answer_content');
    	var content = $content.val();
    	if(!content) {
    		return;
    	}
    	var url = SITE_CONFIG.base + '/question/' + $('#question_id').val() + '/answer';
    	var $btn = $(this);
    	$btn.attr('disabled', true);
    	$.post(url, {content: content}, function(result) {
    		if(result.success) {
    			window.location = window.location;
    		} else {
    			alert(result.error);
    			$btn.attr('disabled', false);
    		}
    	}, 'json');
    });
    
    // 修改回答
    $('.btn_edit_answer').click(function() {
    	var $btn = $(this);
    	var $content = $btn.parents('.content');
    	var $editor = $content.find('.editor');
    	var $body = $content.find('.answer_body');
    	if($editor.length > 0) {
    		$btn.attr('disabled', true);
    		var body = $editor.val();
    		var url = SITE_CONFIG.base + '/question/' + $('#question_id').val() + '/answer/' + $btn.attr('answer_id')
    		$.post(url, {content: body}, function(result) {
    			if(result.success) {
    				$body.html(body).show();
    	            $editor.qeditor(false);
    	            $editor.remove();
    			} else {
    				alert(result.error);
    			}
    			$btn.attr('disabled', false);
    		}, 'json');
    	} else {
    		$body.hide();
    		$body.after('<textarea class="editor">' + $body.html() + '</textarea>');
    		$content.find('.editor').qeditor();
    	}
    });
    
    // 绑定删除按钮
    $('.btn_delete_answer').click(function() {
    	if(!window.confirm('确定要删除此回答吗？')) {
    		return;
    	}
    	var $btn = $(this);
        $btn.attr('disabled', true);
        var answer_id = $btn.attr('answer_id');
        var url = SITE_CONFIG.base + '/question/' + $('#question_id').val() + '/answer/' + answer_id + '/delete';
        $.post(url, function(result) {
            if(result.success) {
            	var $parent = $btn.parents('.content');
            	if($parent.hasClass('answer_content_last')) {
            		$parent.prev().addClass('answer_content_last');
            	}
                $parent.remove();
            } else {
                alert(result.error);
                $btn.attr('disabled', false);
            }
        }, 'json');
    });
});
</script>