<div class="online_list">
    <div class="list_header">
        <div class="online_list_title">
        <% if(it.category) { %>
	    <a cid="<%- it.category.id %>" id="category_id" href="<%- it.base %>/category/<%- it.category.id %>"><%= it.category.name %></a> | 
	    <% } %>
        <% if(it.is_my_question) { %>我的问题<% } else { %>网友正在问<% } %></div>
    </div>
    <div id="question_list" class="list_content">
    <% if(it.total == 0) { %>
    <ul>
	没找到相关数据。
	</ul>
	<% } %>
    </div>
</div>
<% if(it.total) { %>
<div id="pagination" total="<%- it.total %>"></div>
<% } %>
<script>

$(document).ready(function() {
	var items_per_page = 20;
	show_pagination('pagination', {items_per_page: items_per_page}, function(page, jq) {
	    show_loading();
	    var search = window.location.search;
	    var data = {limit: items_per_page, page: page};
	    var category_id = $('#category_id').attr('cid');
	    if(category_id) {
	    	data.category_id = category_id;
	    }
	    $.get(SITE_CONFIG.base + '/question/paging' + search, data, function(html) {
	        $('#question_list').html(html);
	        hide_loading();
	    });
	    return false;
	});
});
</script>