<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据魔方问答</title>
<link rel="stylesheet" href="/cubex/cubex_ask.css" />
</head>

<body>
	<div id="header">
    	<div id="head">
        	<div class="logo_ask">
            </div>
            <div class="search">
            	<form name="search_form">
                	<div class="search_fields">
                    	<input id="search_question" type="text" autofocus="true" autocomplete="true"  name="key"value="输入问题"/>
                        <button class="search_submit">
                    	搜索答案
                    	</button>
                    </div>
                </form>
            </div>
            <div class="go_ask">
            	<div class="go_ask_button">
                	<button>我要提问</button>
                </div>
                <a  href="" class="go_ask_help">帮助</a>
            </div>
        </div>
	</div>
	<div id="body">
    	<div id="main_left">
        	<div class="title">问题分类</div>
            <div class="question_num">
            	<span id="resolved">已解决问题数：3</span>
                <span id="noresolved">待解决问题数：150</span>
            </div>
            <div class="question_info">
            	<div id="use_question">
                	<a href="" class="info_title">使用魔方<span>(32)</span></a>
                    <ul>
                    	<li>
                        	<a href="">产品操作<span>(10)</span></a>
                        </li>
                        <li>
                        	<a href="">用户体验<span>(2)</span></a>
                        </li>
                        <li>
                        	<a href="">数据解读<span>(6)</span></a>
                        </li>
                        <li>
                        	<a href="">数据错误<span>(2)</span></a>
                        </li>
                        <li>
                        	<a href="">指标不明确<span>(3)</span></a>
                        </li>
                        <li>
                        	<a href="">团队建设<span>(1)</span></a>
                        </li>
                        <li>
                        	<a href="">新功能建议<span>(0)</span></a>
                        </li>
                    </ul>
                </div>
                <div id="order_question">
                	<a href="" class="info_title">订购魔方<span>(140)</span></a>
                    <ul>
                    	<li>
                        	<a href="">如何订购<span>(114)</span></a>
                        </li>
                        <li>
                        	<a href="">发票问题<span>(2)</span></a>
                        </li>
                        <li>
                        	<a href="">升级与续费<span>(8)</span></a>
                        </li>
                        <li>
                        	<a href="">类目选择与更改<span>(8)</span></a>
                        </li>
                    </ul>
                </div>
                <div id="other_question">
                	<a href="" class="info_title">其他问题<span>(13)</span></a>
                </div>
            </div>
    	</div>
        <div id="main_center">
        	<div class="online_list">
            	<div class="list_header">
                	<div class="online_list_title">网友正在问</div>
                    <a href="" class="more">更多</a>
                </div>
                <div class="list_content">
                	<ul>
                    	<li>
                        	<p>
                        	<a href="">我购买了数据魔方，想在EXCEL里做一下数据分析...</a>
                            <span>10问答</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                        	<a href="">我购买了数据魔方，想在EXCEL里做一下数据分析...</a>
                            <span>10问答</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                        	<a href="">我购买了数据魔方，想在EXCEL里做一下数据分析...</a>
                            <span>10问答</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                        	<a href="">我购买了数据魔方，想在EXCEL里做一下数据分析...</a>
                            <span>10问答</span>
                            </p>
                        </li>
					</ul>
                </div>
            </div>
            <div class="money_list">
            	<div class="list_header">
                	<div class="money_list_title">赏金求答案</div>
                    <a href="" class="more">更多</a>
                </div>
                <div class="list_content">
                	<ul>
                    	<li>
                        	<p>
                        	<a href="">魔方专业版的价格多少？</a>
                            <span>0问答</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                        	<a href="">大家都是怎样利用数据魔方的报表的？</a>
                            <span>0问答</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                        	<a href="">大家都是怎样利用数据魔方的报表的？</a>
                            <span>0问答</span>
                            </p>
                        </li>
					</ul>
                </div>
            </div>
    	</div>
        <div id="main_right">
        	<div class="login">
            	<div class="title">登录</div>
                <div class="content">
                	<a class="pro_login" href="" title="登录专业版数据魔方"></a>
                    <a class="std_login" href="" title="登录标准版数据魔方"></a>
                </div>
            </div>
            <div class="notice">
            	<div class="title">公告</div>
                <a href="" class="more">更多</a>
                <div class="content">
                	<ul>
                    	<li>数据魔方问答上线试运营</li>
                    </ul>
                </div>
            </div>
            <div class="key_word">
            	<div class="title">热点关键词</div>
                <div class="content">
                	专业版&nbsp;&nbsp;标准版&nbsp;&nbsp;数据
                </div>
            </div>
            <div class="professor">
            	<div class="title">问答名人堂</div>
                <div class="content">
               		淘宝数据魔方专家
                	<p>精彩解答：</p>
                </div>
            </div>
            <div class="hot_user">
            	<div class="title">总积分榜</div>
                	<a href="" class="more">更多</a>
                <div class="content">
                	<ul>
                    	<li>
                        	<p>
                            	<span class="num">1</span>
                                <span class="user_name">数据魔方专家</span>
                                <span class="hot_num">215</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                            	<span class="num">2</span>
                                <span class="user_name">空无</span>
                                <span class="hot_num">115</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                            	<span class="num">3</span>
                                <span class="user_name">苏千</span>
                                <span class="hot_num">115</span>
                            </p>
                        </li>
                        <li>
                        	<p>
                            	<span class="num">4</span>
                                <span class="user_name">苏千</span>
                                <span class="hot_num">115</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
    	</div>
    </div>
</body>
</html>
