@charset "utf-8";
/* CSS Document */
html, body, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	word-wrap: break-word;
}
body, select, input, textarea {
	color: #333;
	font: 13px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 14px;
}
a {
	text-decoration:none;
	color: #105CB6;
	overflow:hidden;
}
a:hover {
	text-decoration:underline;
}
ul {
	list-style:none;
	overflow:hidden;
}
/*头部*/
#header{
	background:url(images/top_bg.gif) repeat-x  50% top;
}
#head{
	width:950px;
	height:72px;
	margin:0 auto;
	position:relative;
}
.logo_ask{
	background:url(images/logo_ask.gif) no-repeat;
	width:177px;
	height:72px;
	float:left;
	margin-left:0;
	margin-right:10px;
}
.search{
	float:left;
	margin:25px 15px 10px;
	width:550px;
}
.search .search_fields {
    background-color: #ffba5f;
    float: left;
    font-family: serif;
    height: 36px;
    position: relative;
    vertical-align: middle;
    width: 550px;
}
.search .search_fields input {
    background-color: #FFFFFF;
    border: 1px solid #d46e00;
    font-family: verdana,tahoma,sans-serif;
    font-size: 14px;
    height: 18px;
    left: 3px;
    line-height: 18px;
    padding: 5px;
    position: absolute;
    top: 3px;
    vertical-align: middle;
    width: 433px;
	/* color:#919191; */
}
.search .search_submit {
    background-color: #ff8c0d;
    border:1px solid #D46E00;
    border-radius: 0 3px 3px 0;
    color: #FFFFFF;
    cursor: pointer;
	position:absolute;
	top:3px;
	right:3px;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    width: 100px;
	font-weight:bolder;
}
.go_ask{
	width:175px;
	height:36px;
	margin:25px 5px 10px 0px;
	float:left;
	position:relative;
}
.go_ask_button{
	display:inline-block;
	background:#ffba5f;
	width:105px;
	height:36px;
	position:relative;
}
.go_ask_button button{
	background:#f3f3f3;
	position:absolute;
	top:3px;
	left:3px;
	width:99px;
	height:30px;
	border:1px solid #D46E00;
	font-size:16px;
	font-weight:bolder;
	color:#535353;
}
a.go_ask_help{
	position:absolute;
	right:25px;
	top:8px;
	font-size:14px;
	color:#FFF;
	text-decoration:underline;
}
/*内容*/
#body{
	margin:0px auto;
	width:1000px;
	position:relative;
}
#main_left{
	margin-top:10px;
	float:left;
	width:200px;
}
#main_right{
	float:right;
	margin: 25px 10px 10px 10px;
}
#main_right{
	width:250px;
}
#main_center{
    float:left;
    width:500px;
    margin:10px;
}
#main_center_left{
    float:left;
    width:620px;
    margin:10px;
}
/*左侧栏样式*/
.title{
	font-weight:bolder;
	border-bottom:1px solid #DDDDDD;
	padding:8px 0px 8px 15px;;
}
.question_num{
	padding:10px 0px 10px 15px;
	border-bottom:1px solid #DDDDDD;
}
.question_num span{
	display:block;
	line-height:25px;
}
#resolved{
	color:#259F25;
}
#noresolved{
	color:#FF8103;
}

.question_info span{
	color:#888888;
	font-weight:normal;
	font-size:12px;
}
.question_info div {
	margin:15px;
}
.question_info div a.info_title{
	font-weight:bolder;
	color:#0364a4;
	font-size:14px;
}
.question_info div ul{
	margin-top:10px;
	font-size:12px;
}
.question_info div ul li{
	line-height:21px;
}

/*中栏样式*/
.online_list, .money_list {
	border:1px solid #e8cb98;
}
.money_list{
	margin-top:10px;
}
.list_header{
	background:#ffeac9;
	border-bottom:1px solid #e8cb98;
	height:28px;
	position:relative;
}
.online_list_title,.money_list_title{
	/* height:24px; */
	margin:3px 0px 3px 15px;
	vertical-align:middle;
	display:inline-block;
	font-weight:bolder;
	padding-left:25px;
	line-height:24px;
}
.online_list_title{
	background:url(images/online_ask.gif) no-repeat left center;
}
.money_list_title{
	background:url(images/money_ask.gif) no-repeat left center;
}
a.more{
	position:absolute;
	top:7px;
	right:15px;
}
.list_content ul{
	margin:20px 15px;
	/* width:516px; */
}
.list_content ul li,.notice .content ul li{
	padding-left:15px;
}
.online_list .list_content ul li ,.notice .content ul li{
	background:url(images/online_list.gif) no-repeat left center;
}
.money_list .list_content ul li {
	background:url(images/money_list.gif) no-repeat left center;
}

p.info {
	margin: 0 15px;
    line-height:24px;
    position:relative;
    color:#888888;
}
p.info span{
    position:absolute;
    right:0;
}

/*右侧栏样式*/
.login,.notice,.key_word,.professor,.hot_user{
	position:relative;
	border:1px solid #DDDDDD;
	margin-top:10px;
}
.notice a.more, .hot_user a.more{
	color:#0364a4;
	top:7px;
}
.content{
	position:relative;
	/* color:#0364a4; */
	line-height:21px;
	margin:20px 15px;
}
.answer_content {
	padding: 0 0 5px 0;
}
.answer_content_last {
	padding-bottom: 0;
	border-bottom: none;
}
.login .content{
	margin:20px 8px;
}
.pro_login,.std_login{
	display:block;
	width:171px;
	height:34px;
}
.pro_login{
	background:url(images/pro_login.gif) no-repeat;
	margin-bottom:15px;
}
.std_login{
	background:url(images/std_login.gif) no-repeat;
}
.professor p{
	color:#888888;
}
.hot_user p{
	width:156px;
	position:relative;
}
.hot_user p span.num{
	position:absolute;
	left:0px;
	top:4px;
	display:inline-block;
	background:#ff8800;
	color:#FFF;
	width:15px;
	height:13px;
	text-align:center;
	line-height:12px;
}
.hot_user p span.user_name{
	margin-left:25px;
}
.hot_user p span.hot_num{
	position:absolute;
	right:0;
}

#footer {
	width:950px;
    height:72px;
    margin:10px auto;
    position:relative;
    text-align: center;
}

.long {
    width: 99%;
}

#pageloading {
    position: fixed;
    _position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 80px;
    padding: 5px;
    text-align: center;
    background: #c44;
    color: #fff;
}

/* simple form */

.simple_form label{
    font-size: 13px;
    color: #333;
    display: block;
}

.item {
    border-bottom: 1px solid #DDD;
    margin: 0 0 6px;
    padding: 0 0 7px;
}
.item_info {
    font-size: 12px;
	color: #999;
	margin: 5px 0;
}
.item_content {
	margin: 10px 0 0 20px;
}

.section {
    border-bottom: 1px solid #DDD;
    margin: 0 0 6px;
    padding: 0 0 7px;
}
.section ul li {
    margin: 10px;
}

a.icon {
	color: #999;
	font-size: 11px;
	font-weight: normal;
	display: inline-block;
	padding: 5px;
}

a.icon:hover{
	color: #000;
	text-decoration:none;background:#E1F0F7;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.fr {
    float: right;
}

.item_summary {
	border-bottom: 1px solid #DDD;
	padding: 0 0 10px 0;
	margin: 10px 0;
}

.button_blue, .button_green, .button_white {
	font: normal 14px/22px "Helvetica Neue",Arial,sans-serif;
	text-decoration: none!important;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	padding: 4px 10px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.button_green {
	background: #8AB923;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adda4d',endColorstr='#86b846');
	background: -webkit-gradient(linear,0 0,0 100%,from(#ADDA4D),to(#86B846));
	background: -moz-linear-gradient(top,#ADDA4D,#86B846);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
	border: 1px solid #6D8F29;
	color: #3E5E00!important;
	min-width: 56px;
	width: auto!important;
	_width: 56px;
}

.button_white {
	background: #F8F8F9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f9',endColorstr='#e6e6e8');
	background: -webkit-gradient(linear,0 0,0 100%,from(#F8F8F9),to(#E6E6E8));
	background: -moz-linear-gradient(top,#F8F8F9,#E6E6E8);
	-webkit-box-shadow: 0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
	text-shadow: 0 1px 0 white;
	border: 1px solid #BBB;
	color: #666!important;
	min-width: 56px;
    width: auto!important;
    _width: 56px;
}

.button_blue {
	margin-left: 20px;
	background: #3C8AE0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d92e6',endColorstr='#3a7fd6');
	background: -webkit-gradient(linear,0 0,0 100%,from(#3D92E6),to(#3A7FD6));
	background: -moz-linear-gradient(top,#3D92E6,#3A7FD6);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,0 1px 0 rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,0 1px 0 rgba(0,0,0,.3);
	-o-box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 1px 0 rgba(255,255,255,.3) inset,0 1px 0 rgba(0,0,0,.3);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .55);
	border: 1px solid #35649D;
	color: white!important;
}

.button_more {
	display: block;
	font-size: 13px;
	margin: 20px 0 0 0;
	padding: 5px 1px;
	border: 0 none;
	box-shadow: none;
	text-shadow: none;
	background: #EBEBEB;
	height: 22px;
}

.text_right {
    text-align: right;
}

.editor_wrap {
    display: none;
}

ul.user_stats {
	list-style: none;
	margin: 0;
	clear: both;
}

ul.user_stats li {
	border-right: 1px solid #E9E9E9;
	float: left;
	margin: 10px 15px 0 0;
	padding: 0 15px 0 0;
}

ul.user_stats li:last-child {
	border: none;
	margin: 10px 0 0 0;
}

ul.user_stats li a {
	color: #444;
	text-decoration: none;
	display: block;
}

ul.user_stats li span {
	display: block;
	clear: both;
	color: #999;
	line-height: 1;
	margin: 2px 0 0 0;
}

ul.user_stats li span:hover {
    text-decoration: underline;
}

ul.user_stats li strong {
    display: block;
    font-weight: bold!important;
    padding: 0 0 3px 2px;
    font-size: 16px;
	line-height: 1;
}

.btn {
	display: block;
	text-align: center;
	width: 52px;
	font-size: 12px;
	text-decoration: none!important;
	padding: 1px;
	font-weight: normal;
	line-height: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.tab_nav {
	margin: 0 0 10px;
	border-bottom: 1px solid #BFBFBF;
}
.tab_nav ul li {
	display: block;
	margin: 0 15px 0 0;
	position: relative;
	float: left;
	text-align: center;
}
.tab_nav a {
	display: block;
	height: 28px;
	line-height: 28px;
	text-decoration: none;
	float: left;
	min-width: 45px;
	width: auto!important;
	padding: 0 10px;
	position: relative;
	top: 1px;
	color: #105CB6;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.tab_nav ul li a:hover{background:#e1f0f7;text-decoration:none;}
.tab_nav a span {
	background: #E1F0F7;
	padding: 1px 5px;
	font-size: 11px;
	vertical-align: top;
	margin: 0 0 0 3px;
	-webkit-text-size-adjust: none;
}
.r, .zg-r30px {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}

.category_section ul {
    margin-left: 20px;
}

.category_section a.selected {
	color: black;
	text-decoration: underline;
}